.icon-button {
    background-color: white !important;
}

.delete {
    color: #d32f2f;
    
}

.edit {
    color: #2d4356;
}

.start {
    color: #357635;
}

.completed{
    text-decoration: line-through;
}